body {
  background-color: rgb(53, 42, 119);
  border-radius: 40px;
  border: 10px solid rgb(88, 56, 146);
}

h1 {
  color: rgb(19, 193, 206);
  text-align: center;
}
.Coisas {
  color: rgb(19, 193, 206);
  text-align: left;
}
.Me {
  color: rgb(19, 193, 206);
  position: relative;
  font-size: 40px;
  bottom: 350px;
  left: 900px;
  width: 6%;
  background-color: rgb(10, 3, 99);
}
.Sobre {
  color: rgb(19, 193, 206);
  text-align: left;
}
.Eduardo {
  position: relative;
  left: 950px;
  bottom: 380px;
}
h5 {
  background-color: rgb(112, 46, 179);
  background-size: 1px;
}

.ola  {
text-decoration: none;
color: white;
font-size: 20px;
padding: 15px;
display:inline-block;
position: absolute;
top: 10px;
}
ul {
display: inline;
margin: 0;
padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: rgb(70, 5, 192);}
ul li:hover ul {display: block;}
ul li ul {
position: absolute;
width: 400px;
display: none;
}
ul li ul li { 
background: rgb(165, 124, 219); 
display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: rgb(157, 90, 219);}
